# OS 파일
.DS_Store

# Node.js 및 패키지 관리자
node_modules
package-lock.json
yarn.lock

# 빌드 결과물
build
dist

# 환경 변수 및 설정 파일
.env
.env.local
.env.development
.env.production
config.js

# 개인 설정 파일
.vscode/
*.suo
*.user
*.swp

# 로그 파일
*.log

# 임시 파일
temp/
tmp/

# 기타
.history
